table,th,td{
    border: 2px solid yellow;
    border-collapse: collapse;
   
    text-align: justify;
    border-width: 2px;
    border-right-style: dotted;
    border-radius: 20%;
    width: 50%;
    height: 50%;

}

th{
    background-color: aqua;
}

td{
    background-color: lightblue;
    padding: 20px;
}
img{
    opacity: 0.10;
}


p{
color: blueviolet;
text-transform: capitalize;
}